
<button class="refresh" (click)=refresh() soho-button="icon" icon="refresh" title="Refresh" ></button>
<hr>
<div *ngFor="let theDog of dogs$ | async" class="card">
   <div class="details">
         <h4>{{theDog.name}}</h4>
         <p>{{theDog.breed}}</p>      
   </div>

   <div class="image" >
        <img src="{{theDog.message}}" >
        
   </div> 

   <div class="desc">      
         <p>{{theDog.description}}</p> 
   </div>

   <div class="like">
      <button (click)=addFavourite(theDog)>LIKE</button>
   </div>

</div>


