<div *ngFor="let theDog of favouriteDogs$ | async" class="card">
    <div class="details">
          <h4>{{theDog.name}}</h4>
          <p>{{theDog.breed}}</p>      
          
    </div>
 
    <div class="image" >
         <img src="{{theDog.message}}" >
         
    </div> 
 
    <div class="desc">      
          <p>{{theDog.description}}</p> 
    </div>
 
    <div class="dislike">
       <button (click)=removeFavourite(theDog)>DISLIKE</button>
    </div>

    <div class="edit">
            <button soho-button="icon" icon="edit" title="Edit"  (click)="gotoEditComponent(theDog.id,theDog.message)"></button>
    </div>
 
 </div>
 
 
